:root {
    --card-background-colour: rgba(243, 244, 246, 0.8);
    --card-border-radius: 5px;
    --card-box-shadow: inset 0px 0px 1px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #f3f4f6;
    padding: 30px;
    min-height: 100vh;
}

#root {
    min-height: calc(100vh - 60px);
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}