.preview {
    background-color: var(--card-background-colour);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);

    overflow-y: auto;
    overflow-x: auto;
    padding: 20px;
}

.a4-page {
    width: 210mm;
    min-height: 297mm;

    margin: 10px auto;

    background: white;
    box-shadow: 0px 0px 20px rgba(0,0,0,.5);

    padding: 10mm;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 10mm;
}

.personal-info-preview {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2mm;
}

.full-name-preview {
    font-size: 10mm;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contact-info-preview {
    font-size: 4mm;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.summary-preview {
    flex: 1;
}

.education-preview {
    flex: 1;
}

.experience-preview {
    flex: 1;
}

.projects-preview {
    flex: 1;
}

.skills-preview {
    flex: 1;
}